@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: "Roboto", sans-serif;
  background-color:#D3D3D3;
  
  

}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

nav {
  background-color: orange;
  height: 80px;
  width:1100px;
 position:fixed;
}

nav ul {
  float: left;
  margin-left: 10px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0;
  top:-20px;
}

nav ul li a:before {
  position: absolute;
  content: "";
  left: 0;
  height: 3px;
  width: 100%;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  background-color: white;
  transition: transform 0.4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: left;
  line-height: 80px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.gif {
 position:relative;
width: 1100px;
height: 900px;
top:-170px;
z-index:-100;
}
li {
border-color:black;

}
.p {
position:absolute;
left: 800px;
top:30px;
color:white;

}

label #hela {
visibility:hidden;
}
.arial {
position:absolute;
background-color:orange;
z-index:-50;
top:1500px;
left:5px;
width:1100px;
height:400px;
z-index:-100;

}
.sty {
color:white;
 position:absolute;
 top: 100px;
 right:350px;
 font-size:50px;
}
.key {
 color:white;
 position:absolute;
 top: 200px;
 right:450px;
font-size:30px;
z-index:200;
}
.kay {
position:absolute;
 top: 200px;
 right:350px;
font-size:30px;
z-index:200;
}
.ky {
position:absolute;
 top: 200px;
 right:230px;
font-size:30px;
z-index:200;
}
.yt {
position:absolute;
 top: 200px;
 right:100px;
font-size:30px;
z-index:200;
}
.server {
position:absolute;
left:50px;
}
.hser {
 position:absolute;
 left:75px;
}
#cir  {
visibility:hidden;
}
#face {
 color:white;
}
#discord {
color:#7289DA;;
}


@media screen and (max-width: 960px) {
  ul {
    position: fixed;
    height: 100vh;
    width: 70%;
    background-color: orange;
    text-align: left;
    top: 80px;
    left: -100%;
    transition: all 0.4s;
    
  }
  li {
    position: relative;
    left: 65px;
    
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  label #btn {
    display: block;
  }
  nav ul li a {
    font-size: 16px;
  }
  
  nav {
  z-index:100;
  width: 138.5%;
  }
  .gif {
  position:relative;
   width:142.5%;
   height: 470px;
   top:-55px;
   z-index:-100;
  }
 
  .p {
  position:absolute;
  left:80%;
  top: 30px;
  color:white;
 
  z-index:200;
  position:fixed;
  }
  
label #btt  {
color:white;
position:relative;
top:30px;
width:10%;
left: -5%;

}
label #hela {
visibility:hidden;
}
.arial {
position:absolute;
background-color:orange;
z-index:-50;
top:700px;
left:0.5px;
width:385px;
height:200px;
z-index:-100;
}
 .sty {
 color:white;
 position:absolute;
 top:35px;
 left:30px;
 font-size:20px;
}

 #twi {
 color:white;
 z-index:50;
 position:absolute;
 top:100px;
 left:36px;
 }

.kay {
color:white;
position:absolute;
top:100px;
left:150px;
border-radius:10px;
font-size:10px;
}
.ky {
color:white;
position:absolute;
top:103px;
left:200px;
border-radius:10px;
font-size:10px;
}
.yt {
color:red;
position:absolute;
top:103px;
left:250px;
border-radius:10px;
cursor:pointer;
font-size:10px;
}
.ell {
height:20px;
width:20px;
visibility:hidden;
}
.server {
font-size:10px ;
visibility:hidden;
}
.key {
position:absolute;
top:0px;
left:60px;
border-radius:10px;
cursor:pointer;
font-size:10px;

}
nav {
position:fixed;
}

}
  
  
  
  
  